<!DOCTYPE html>
<html lang="en">

<div class="wrapper">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7312563810130935"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>The Cotswold Camper</title>
</head>

    <nav class="page-header navbar sticky-top navbar-expand-lg navbar-light bg-gradient" style="background-color: #676FA3; color:#CDDEFF;">
        <div class="container-fluid">
          <div>
            <a class="navbar-brand" href="/"><img src="/Assets/The Cotswolds Camper-logos_transparent.png" alt="" width="150" height="150" ></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                  <a style="color: #EEF2FF;" class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a style="color: #EEF2FF;" class="nav-link" href="picture-gallery">Gallery</a>
                </li>
                <li class="nav-item">
                  <a style="color: #EEF2FF;" class="nav-link" href="videos">Videos</a>
                </li>
                <li class="nav-item">
                  <a style="color: #EEF2FF;" class="nav-link" href="links">Links</a>
                </li>
                <li class="nav-item">
                  <a style="color: #EEF2FF;" class="nav-link" href="reviews">Campsite Reviews</a>
                </li>
                <li class="nav-item dropdown">
                  <a style="color: #EEF2FF;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Van Care
                  </a>
                  <ul style="background-color: #676FA3;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a style="color: #EEF2FF;" class="dropdown-item" href="toptips">Top Tips</a></li>
                    <hr>
                    <li><a style="color: #EEF2FF;" class="dropdown-item" href="cleaning">Cleaning</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <body class="page-body">
          <div class="container">
