<%- include("partials/header"); -%>
      <main class="container lynx min-vh-100">
        <div class="front">
        <div class="banner p-4 p-md-5 mb-4 rounded bg-gradient">
          <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Cleaning</h1>
            <p class="lead my-3">A few basics to keep your van looking awesome!</p>
          </div>
        </div>
        <div class="clean-container">
          <h3>First, protect your paintwork!</h3>
        <ul class="list-group">
          <li class="list-group-item">ALWAYS wash the van yourself or go to a reputable HAND car wash!</li>
          <li class="list-group-item">NEVER go through a drive through car wash or jet wash!</li>
          <li class="list-group-item">NEVER use a pressure washer!</li>
        </ul>
        </div>
        <div class="clean-container">
          <h3>What you'll need</h3>
          <ul class="list-group">
            <li class="list-group-item">1. Bucket</li>
            <li class="list-group-item">2. Two Sponges</li>
            <li class="list-group-item">3. Good quality car shampoo (eg. Turtlewax/AutoGlym)</li>
            <li class="list-group-item">4. Wheel cleaning spray (I use Demon, but there are loads out there)</li>
            <li class="list-group-item">5. Long-handled brush (eg one you use for doing the dishes) to get into the hard to reach areas like the wheels and vents.</li>
            <li class="list-group-item">6. Chamois</li>
            <li class="list-group-item">7. Good quality wax or polish</li>
            <li class="list-group-item">8. Good cloths for applying the wax/polish</li>
          </ul>
        </div>
        <div class="clean-container">
          <h3>Method</h3>
          <div class="row">
            <div class="col-4">
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-step1" role="tab" aria-controls="list-home">Step 1</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-step2" role="tab" aria-controls="list-profile">Step 2</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-step3" role="tab" aria-controls="list-messages">Step 3</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-step4" role="tab" aria-controls="list-settings">Step 4</a>
                <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-step5" role="tab" aria-controls="list-home">Step 5</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-step6" role="tab" aria-controls="list-profile">Step 6</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-step7" role="tab" aria-controls="list-messages">Optional Extras</a>
              </div>
            </div>
            <div class="col-8">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-step1" role="tabpanel" aria-labelledby="list-step1-list">First rinse: Fill your bucket with warm (Not scolding hot!) water. Take a clean sponge and work around the top of the van first, loosening off the dirt. Then gradually work your way lower down. Pay attention to the rubber seals around the windscreen/windows and pull the wipers away from the windscreen, clean the rubber thoroughly and inspect (They tend to wear unevenly as they never sit as well on a T2 windscreen as a standard vehicle windscreen) and get into the vents and wheel arches with your brush. All sorts of dirt and debris gets in here, particularly in the winter months, when the roads are gritted. Over time, this all causes wear and tear on the paintwork, causing it to go dull or erode, potentially leading to other issues.<br>(Optional) Before the first rinse, take a clean, dry microfibre
 cloth and lightly wide off the dry dirt and dust.  
                </div>
                <div class="tab-pane fade" id="list-step2" role="tabpanel" aria-labelledby="list-step2-list">Wheel clean: Apply the wheel cleaning spray liberally over the wheels and work in with your brush. leave it for a minute or two then rinse thoroughly with clean water. These sprays are usually quite powerful, so you don't want to leave it on for too long</div>
                <div class="tab-pane fade" id="list-step3" role="tabpanel" aria-labelledby="list-step3-list">Shampoo: Add the shampoo to a fresh bucket of warm, clean water. Get a clean sponge then, in much the same way as you applied the first rinse, work from the top to the bottom of the van. Make sure you get a good lather on the van and ensure good coverage.</div>
                <div class="tab-pane fade" id="list-step4" role="tabpanel" aria-labelledby="list-step4-list">Rinse: Repeat step one. If you've used a good quallity shampoo, it'll likely contain some wax. If so, you'll notice the water now beading off the van.</div>
                <div class="tab-pane fade" id="list-step5" role="tabpanel" aria-labelledby="list-step5-list">Chamois: Take a clean Chamois, wet with clean water and wring out the water, to make it a bit more flexible. Again, from top to bottom, wipe a panel/window at time, wringing out excess water as you go and ensuring all remaining water is removed from the van.<br> Leaving water on the van to dry naturally will leave water marks and, if you're doing this on a bright sunny day, can act as a magnifier for the sunlight and contribute to some UV damage to the paint. Probably not an issue on a one-off, basis, but not drying the van correctly is a bad habit to get into.  </div>
                <div class="tab-pane fade" id="list-step6" role="tabpanel" aria-labelledby="list-step6-list">Wax/Polish: I don't wax the van every time I wash it. A good quality polish, like AutoGlym, will often suffice. it doesnt provide as long-lasting protection as wax, but as wax lats a while, it will provide some protection for a few washes, and the polish tops this up. Also, polish is often much easier to apply, so you can get the job done a little quicker. <br> However, I would suggest using a good quality wax after every second or third wash.<br>
                Take two clean cloths. With the first cloth, apply the wax/polish and work it into paintwork, a small area ata time, with a circular motion. Take your second cloth and, before the wax or polish has dried, wipe it off using the same circular motion (At the risk of showing my age, watch the Karate Kid for a good demo!)  </div>
                <div class="tab-pane fade" id="list-step7" role="tabpanel" aria-labelledby="list-step6-list">There are various products for those finishing touches:<br> 
                  1. My first is always RainX. apply this mush the same way as wax or polish to the outside of your windscreen, windows, and wing mirror glass. It just allows the water to bead off the glass and disperse quickly, aiding visibility<br>
                2. I tend to use Demon Shine spray on the chrome after Ive finished everything else. It just adds a little extra protection and shine to the chrome. Spray on and wipe straight off with a clean cloth<br>
              3. Tyre dressing. You got the wheels sparkling clean, so spray some of this stuff (loads of brands out there) around the wall of your tyres. Stand back. Admire the clean, wet look.</div>

              </div>
            </div>
          </div>
        </div>
        </div>
        </main>
        <%- include("partials/footer"); -%>
       