<%- include("partials/header"); -%>
  <main class="container">
    <div class="front">
		<div class="banner p-4 p-md-5 mb-4 rounded bg-gradient">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Photo Gallery</h1>
        <p class="lead my-3">A selection of photos from my adventures in the van.<br>
		Follow me on <a href="https://www.instagram.com/thecotswoldscamper/">Instagram</a> for more...</p>
      </div>
    </div>
	</div>
<section class="container">
   <div class="container-lg">
	<div class="gallery min-vh-100">
	<div class="row gy-4">
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
				<img src="Assets/lochcarron1.jpg" class="gallery-item w-100 shadow-1-strong rounded" alt="Lochcarron, West Coast of Scotland"> 
			</div>
				<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<img src="Assets/lochcarron2.jpg" class="gallery-item w-100 shadow-1-strong rounded" alt="Lochcarron, West Coast of Scotland"> 
		</div>	
	<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
		<img src="Assets/shieldag1.jpeg" class="gallery-item w-100 shadow-1-strong rounded" alt="Shieldag, West Coast of Scotland"> 
	</div>	
	<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
		<img src="Assets/ullapoolferry.jpg" class="gallery-item w-100 shadow-1-strong rounded" alt="Ullapool, NW Scotland"> 
	</div>	
	<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
		<img src="Assets/PenYFan1.png" class="gallery-item w-100 shadow-1-strong rounded" alt="Pen Y Fan, Brecon Beacons, Wales">
	</div>	
	<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
	<img src="Assets/pyf-mist.jpg" class="gallery-item w-100 shadow-1-strong rounded" alt="Pen Y Fan, Brecon Beacons, Wales"> 
</div>
<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
<img src="Assets/sunset1.jpg" class="gallery-item w-100 shadow-1-strong rounded" alt="Severn Bridge Sunset">
</div>	
	<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
<img src="Assets/heelincoo.jpg" class="gallery-item w-100 shadow-1-strong rounded" alt="Highland Cow, West Coast of Scotland">
</div>	
	<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
		<img src="Assets/painswicksunset.jpg" class="gallery-item w-100 shadow-1-strong rounded" alt="Painswick Beacon, Gloucestershire"> 
	</div>
	<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
	<img src="Assets/bump.jpg" class="gallery-item w-100 shadow-1-strong rounded" alt="Someone bumped me :(">
</div>
	<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
<img src="Assets/harescombesunset.jpg" class="gallery-item w-100 shadow-1-strong rounded" alt="Haresfield Beacon, Gloucestershire">
</div>

	<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
		<img src="Assets/IMG_2718.JPG" class="gallery-item w-100 shadow-1-strong rounded" alt="Pride 'n' Joy">	
	</div>

	
</div>
	</div>
</div>
  </div>  
</section>
  <!-- Modal -->
  <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<img src="Assets/IMG_1826.JPG" class="modal-img" alt="modal-img"> 
		</div>
	  </div>
	</div>
  </div>
  </main>
  <%- include("partials/footer"); -%>