<%- include("partials/header"); -%>
<main class="container bg-gradient" style="min-height: 100vh;">
  <div style="padding: 30px 0 30px 0;">
<h1><%=title%></h1>
  <p><%=content%></p>
  <a href="/" class="stretched-link">Back home</a>
  </div>
</main>
<%- include("partials/footer"); -%>
