<%- include("partials/header"); -%>
      <main class="container">
        <div class="front">
          <div class="banner p-4 p-md-5 mb-4 rounded bg-gradient">
  
          <div class="col-12 px-0">
            <h1 class="display-4 fst-italic">Top Tips</h1>
            <p class="lead my-3">Some key dos and don'ts to help keep you on the road</p>
          </div>
         
        </div>
        
        <div class="clean-container">
          <h3>Do:</h3>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item">An obvious one - Make sure you've got breakdown/recovery membership!</li>
          <li class="list-group-item">Check tyre pressure at least once a month or before any big trip. These vehicles are rarely 'standard fit' so, it goes without saying there's no standard pressure. I tend to run 40psi on all four tyres, based on advice from a tyre fitter.</li>
          <li class="list-group-item">Check your oil pressure regularly. The Brazibays do have more modern engines, both air-cooled and water-cooled, but you can never be too careful!</li>
          <li class="list-group-item">Only use regular/standard unleaded fuel. Premium fuels can be used but not on a regular basis.</li>
          <li class="list-group-item">If not using the leisure battery for a while, disconnect. Consider investing in a battery conditioner.</li>
          <li class="list-group-item">Always drain the water tank when not using the vehicle.</li>
          <li class="list-group-item">Invest in dehumidifiers. Supermarkets have small portable dehumidifiers and refill tablets. Place one or two of these in your van to reduce moisture build up in the van and help keep it rust free (A good temporary substitute is a salt-filled container with a few holes in the lid).</li>
          <li class="list-group-item">If you can't keep your van in a garage or under cover. Invest in a decent, breathable cover.</li>
          <li class="list-group-item">Always treat your neighbours with respect! So many decent wild camping spots are being closed off all around the UK because locals and councils get fed up of cleaning up after campers. Bag up and bin your rubbish. If it's near a residential area, keep quiet. Overall, don't take the piss! If we all play by the rules, we all benefit!</li>
          <li class="list-group-item">Get in touch if there's anything you feel should be added to the list</li>
        </ol>
        </div>
        <div class="clean-container">
          <h3>Don't:</h3>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item">Take your van through a car wash or use a pressure washer on it.</li>
          <li class="list-group-item">Another obvious one - never drive with the roof up.</li>
          <li class="list-group-item">Don't overfill your petrol tank. Roughly 3/4 full is about right.</li>
          <li class="list-group-item">Don't take it to just any old garage. Find a reputable one, knowledgable about these vehicles. Check out the <a href="links.html">useful links</a> page where you'll find some details. If you find one yourself, get in touch and we'll promote it!</li>
          <li class="list-group-item">Don't use any detergents on the pop-top materials. warm water and allow to dry</li>
        </ol>
        </div>
        </div>
        
      </main>
      <%- include("partials/footer"); -%>