<%- include("partials/header"); -%>
      <main class="container">
        <div class="front">
          <div class="banner p-4 p-md-5 mb-4 rounded bg-gradient">
          <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Video Gallery</h1>
            <p class="lead my-3">Videos of my travels and van maintenance.</p>
          </div>
        </div>
        <section class="gallery min-vh-100">
          <div class="container-lg" style="padding-bottom: 100px;">
        <div class="row gy-4 row-cols-1 row-cols-sm-3 row-cols-md-2 mb-3">
        <div class="vidwrapper col">
          <div class = "vidcontainer">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ESJ0zzhGPWM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
        </div>
        
        </div>
        <h5>Van too cold at night? Too hot all summer? </h5>
        <p>Here's how I dealt with those issues</p>
          </div>
        </section>
    </main>
    <%- include("partials/footer"); -%>