<%- include("partials/header"); -%>
  <main class="container bg-gradient">
    <div style="padding: 30px 0 30px 0;">
    <h3 style="padding: 30px 0 10px;">We're Live!</h3>
    <h4 style="padding:30px 0;">Thanks for visiting the brand new TCC website</h4>  
    <p style="padding-bottom: 10px;">About a year ago, I had the great idea of setting myself, my partner (and of course the van) up with a website and social media accounts to share some of the great experiences I've had with my Brazibay.</p>

    <p style="padding-bottom: 10px;">However, like so many of my ideas, getting around to putting something together has been a long, slow process with life getting in the way etc. But that's not the vanlifer way. So I've bitten the bullet, learnt a bit about building websites (Still early days, so bear with me, this is very much a 'work in progress') and here we are.
  In the last couple of years, my partner and I have tried to make the best of the situation we all found ourselves in with the pandemic and, when safe to do so, taken the opportunity to explore parts of the country we'd not previously been to, nor considered.
</p>
<p style="padding-bottom: 10px;">We're both fortunate enough to be well-travelled people. However, some of our best experiences have been over the last couple of years, exploring the length and breadth of the country. So, want to promote these places and try to show that the UK has as much variety to offer as anywhere</p>
<p style="padding-bottom: 10px;">We plan, as things open up, and (hopefully) European travel becomes a bit easier to add and share some continental campervan experiences. We are also keen to hear of your campervanning experiences both at home and abroad, so please get on our social media accounts, share your pictures, stories, hints and tips and we can hopefully all add a bit to the vanlife expereince!</p>
<p style="padding-bottom: 10px;">On the site we also want to share some hints and tips, cleaning and maintenance advice to help keep your van looking awesome and running like a dream! If there's anything you'd like us to showcase or mention on our site, let us know via the socials</p>
<p style="padding-bottom: 10px;">Thanks again for stopping by!</p>
<p style="padding-bottom: 10px;">Chris</p>
<a href="/" class="stretched-link">Back home</a>
    </div>
    </main>
    <%- include("partials/footer"); -%>
